.info-card {
  background-color: white;
  border-radius: 1rem;
  padding:3rem;
  margin: 1rem;
  text-align: center;
  width: 90%;
}

.title {
  color: rgb(93, 65, 128);
  font-size: 1.5rem;
  font-weight: bold;
}

.info-field {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }

  @media screen and (max-width: 599px) {
    flex-direction: column;
  }
}

.category {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0.7rem;
  display: flex;
}

.static-data-input {
  border: none;
  font-size: 1.1rem;
  margin: 0.2rem;
  padding:0.5rem;
}

.static-data-input:hover{
  background-color: rgba(211, 211, 211, 0.466);
  border-radius: 1rem;
  cursor: pointer;
}

.static-data-input:focus {
  background-color: rgba(211, 211, 211, 0.466);
  border-radius: 1rem;
  cursor:text;
  outline: none;
}

.static-data-input:disabled {
  color:black;
  background-color: transparent;
}

.static-data-input:disabled:hover {
  cursor:auto;
}




