<mat-toolbar class="dark-toolbar">
  <h1 class="title" routerLink="/">PulseGym</h1>

  <span class="example-spacer"></span>

  <mat-dialog-actions *ngIf="!isLoggedIn">
    <button mat-raised-button (click)="openDialog()" class="login-button">
      Login
    </button>
  </mat-dialog-actions>

  <div class="nav-item" *ngIf="isLoggedIn">
    <a
      class="currentUser"
      href="{{
        (currentUser.role === 'Client' ? '/clients/' : '/trainers/') +
          currentUser.id
      }}"
    >
      <img src="{{ currentUser.imageUrl }}" alt="Avatar Logo" class="avatar" />

      <div class="info">
        <span class="names">
          {{ currentUser.firstName }} {{ currentUser.lastName }}
        </span>
        <span class="role">{{ currentUser.role }}</span>
      </div>
    </a>

    <button mat-icon-button (click)="onLogOut()">
      <mat-icon class="icon">logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
