.container {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  background-color: #e5e3e880;
}

.router {
  width: 80%;
  max-width: 80%;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
}

* {
  box-sizing: border-box;
}
