.container {
  padding: 0px;
  margin: 0px;
  min-width: 100%;
  background-color: rgb(229, 227, 232, 0.5);
}

.router {
  width: 85%;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 15%;
}
