.dummy {
  color: gray;
  font-weight: bold;
  text-align: center;
  min-height: 100%;
  max-width: 100%;

  p {
    margin-top: 2rem;
  }
}

.actions {
  text-align: center;
  max-width: 100%;
  margin-top: 20px;

  button {
    border-radius: 1rem;
    border: none;
    width: 80%;
    background-color: rgba(126, 126, 126, 0.36) !important;
    box-shadow: none;
    font-size: large;
  }
}

.program-item {
  background-color: white;
  border-radius: 1rem;
  width: 90%;
  margin: 1rem;
  padding: 1rem;
}

.program-name {
  font-size: 1.2rem;
  font-weight: 800;
}

.content {
  display: flex;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.history-tab {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  border-top: solid 1px rgba(128, 128, 128, 0.181);
  color: gray;
  font-weight: bold;
  
  p {
    margin-bottom: 0;
  }
}

.history-tab:hover {
  background-color: rgba(255, 255, 255, 0.375);
  cursor: pointer;
}

.program-choice {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  margin: 0 16px 0 16px;
  justify-content: center;

  button {
    box-shadow: none;
    width: 30px;
    height: 30px;
    color: gray;
    margin: auto 2px;
    display: flex;
  }

  button:hover {
    background-color: rgb(135, 135, 192, 0.3);
    color: black;
  }
}
