<div class="toolbar">
  <mat-form-field class="full-width">
    <span matPrefix> </span>
    <input matInput placeholder="Search" name= "search" [(ngModel)]= "searchText">
    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field>
  <button mat-raised-button class="add-button" routerLink="create" *ngIf="currentRole === adminRole">
    Add new trainer
  </button>
</div>

<ul class="list">
  <app-trainer *ngFor="let tr of trainers | filter: searchText" [trainer]="tr"></app-trainer>
</ul>
