<div class="container">
  <ul
  class="nav nav-pills"
  >
    <li>
      <a
        routerLink="/activities"
        routerLinkActive="active-route"
        class="nav-link"
      >
        <i class="bi-heart-pulse"></i>
        Activities
      </a>
    </li>

    <li *ngIf="isLoggedIn && (role === 'Trainer' || role === 'Admin')">
      <a
        class="nav-link"
        routerLink="/clients"
        routerLinkActive="active-route"
      >
        <i class="bi-people"></i>
        Clients</a
      >
    </li>

    <li *ngIf="isLoggedIn && (role === 'Admin' || role === 'Client')">
      <a
        class="nav-link"
        routerLink="/trainers"
        routerLinkActive="active-route"
      >
        <i class="bi-person-arms-up"></i>
        Trainers</a
      >
    </li>
    <li *ngIf="isLoggedIn">
      <a class="nav-link">
        <i class="bi-calendar"></i>
        Schedule</a
      >
    </li>
    <li *ngIf="isLoggedIn && (role === 'Trainer' || role === 'Admin')">
      <a
        class="nav-link"
        routerLink="/requests"
        routerLinkActive="active-route"
      >
        <i class="bi-send"></i>
        Requests</a
      >
    </li>

    <li>
      <a
        class="nav-link"
        routerLink="/programs"
        routerLinkActive="active-route"
      >
        <i class="bi-coin"></i>
         Programs</a
      >
    </li>

    <li *ngIf="!isLoggedIn">
      <a
        class="nav-link"
        routerLink="/contact"
        routerLinkActive="active-route"
      >
        <i class="bi-telephone"></i>
        Contact Us</a
      >
    </li>
  </ul>
</div>

