.active-route {
  font-size:22px !important;
  font-weight: bolder;
  color: rgb(185, 129, 255) !important;
  background-color: rgba(99, 35, 162, 0.1);
}
.container {
  margin-bottom: 0%;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background: rgb(23, 23, 23);
  color: white;
}
.nav-link {
  color: rgb(144, 144, 255);
  vertical-align: middle;
  font-size:20px;
}

.nav-link:hover{
  font-size:21px;
  color: rgb(185, 129, 255) !important;
}

.nav.nav-pills{
  display: flex;
  flex-direction: column; 
  margin-bottom: 0px;
text-align: left;
}

i{
  margin-right:3px;
}
