<div
  class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white bg-dark"
  style="margin-bottom: 0%; height: 100%; min-height: 500px;"
>
  <ul
    class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
  >
    <li class="nav-item">
      <a
        routerLink="/activities"
        routerLinkActive="active-route"
        style="color: rgb(144, 144, 255)"
        class="nav-link align-middle px-0"
      >
        <i class="fs-4 bi-heart-pulse"></i>
        <span class="ms-1 d-none d-sm-inline">Pulse Activities</span>
      </a>
    </li>

    <li *ngIf="role === 'trainer' || role === 'admin'">
      <a style="color: rgb(144, 144, 255)" 
      class="nav-link px-0 align-middle"
      routerLink="/clients"
      routerLinkActive="active-route">
        <i class="fs-4 bi-people"></i>
        <span class="ms-1 d-none d-sm-inline">Clients</span></a
      >
    </li>
    <li *ngIf="role === 'admin' || role==='client'">
      <a style="color: rgb(144, 144, 255)" 
      class="nav-link px-0 align-middle"
      routerLink="/trainers"
      routerLinkActive="active-route">
        <i class="fs-4 bi-person-arms-up"></i>
        <span class="ms-1 d-none d-sm-inline">Trainers</span></a
      >
    </li>
    <li *ngIf="role !=''">
      <a style="color: rgb(144, 144, 255)" class="nav-link px-0 align-middle">
        <i class="fs-4 bi-calendar"></i>
        <span class="ms-1 d-none d-sm-inline">Schedule</span></a
      >
    </li>
    <li *ngIf="role === 'trainer' || role === 'admin'">
      <a 
      style="color: rgb(144, 144, 255)" 
      class="nav-link px-0 align-middle"
      routerLink="/requests"
        routerLinkActive="active-route">
        <i class="fs-4 bi-send"></i>
        <span class="ms-1 d-none d-sm-inline">Workout requests</span></a
      >
    </li>
  
    <li *ngIf="role === 'admin'">
      <a
        style="color: rgb(144, 144, 255)"
        class="nav-link px-0 align-middle"
        routerLink="/programs"
        routerLinkActive="active-route"
      >
        <i class="fs-4 bi-file-earmark-person"></i>
        <span class="ms-1 d-none d-sm-inline">Programs</span></a
      >
    </li>

    <li *ngIf="role != 'admin' && role != 'trainer'">
      <a
        style="color: rgb(144, 144, 255)"
        class="nav-link px-0 align-middle"
        routerLink="/contact"
        routerLinkActive="active-route"
      >
        <i class="fs-4 bi-telephone"></i>
        <span class="ms-1 d-none d-sm-inline">Contact Us</span></a
      >
    </li>

 

  </ul>
</div>
