<div class="card">
  <div class="row">
    <div *ngIf="activity.imageUrl" class="col">
      <img
        src="{{ activity.imageUrl }}"
        class="img-fluid rounded-start"
        alt="imagePath"
      />
    </div>
    <div [ngClass]="activity.imageUrl ? 'col-md-7' : 'col'">
      <div class="card-body">
        <div>
          <h5 class="card-title">{{ activity.title | uppercase }}</h5>
          <p class="card-text">{{ activity.description }}</p>
        </div>
        <div class="row bottom">
          <p class="col card-text">
            <small class="text-muted">{{
              activity.dateTime | date : "EEEE, MMMM d, YYYY"
            }}</small>
          </p>
          <div *ngIf="currentRole === 'Admin'" class="col-md-3 actions">
            <button mat-fab routerLink="/activities/edit/{{activity.id}}">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-fab (click)="onDelete()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
