.detail-page {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: left;

  @media screen and (min-width: 900px) {
    flex-direction: row;

    .right-side {
      width: 70%;
    }

    .left-side {
      width: 30%;
    }
  }

  @media screen and (max-width: 899px) {
    flex-direction: column;

    .right-side,
    .left-side {
      width: 100%;
    }
  }
}

.right-side {
  margin: 0.5rem;
  max-width: 100%;
}

.left-side {
  margin: 0.5rem;
  text-align: center;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

.ava {
  width: 90%;
  border-radius: 50%;
  object-fit: cover;
  max-width: 100%; 
  aspect-ratio: 1/1;
}

.dropdown-ava {
  aspect-ratio: 1/1;
  width:30px;
  border-radius: 50%;
  object-fit: cover;
}

.trainer-label {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
  display: flex;
}

.trainer-field {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 10px 10px 10px;

  button {
    background-color: transparent;
    margin: 3px;
    box-shadow: none;
    width: fit-content;
    height: fit-content;
    color: gray;

    .edit-icon {
      font-size: 20px;
      position: absolute;
      top: -1px;
      left: -3px;
    }
  }

  button:hover {
    color: black;
  }
}

.actions {
  text-align: center;
  max-width: 100%;
  margin-top: 20px;

  button {
    border-radius: 1rem;
    border: none;
    width: 80%;
    background-color: rgba(126, 126, 126, 0.36) !important;
    box-shadow: none;
    font-size: large;
  }
}

.router {
  max-width: 100%;
}

.tab-bar {
  max-width: 100%;
}
