<div class="request-card">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col" class="text-muted fw-normal mb-0">Client</th>
        <th scope="col" class="text-muted fw-normal mb-0">Trainer</th>
        <th scope="col" class="text-muted fw-normal mb-0">DateTime</th>
        <th scope="col" class="text-muted fw-normal mb-0">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-3">
          <img
            src="{{ workoutRequest.Client.ImagePath }}"
            alt="{{ workoutRequest.Client.LastName }}"
            class="rounded-circle"
          />
          <p class="fw-bold d-inline mb-1">
            {{ workoutRequest.Client.FirstName }}
            {{ workoutRequest.Client.LastName }}
          </p>
        </td>
        <td class="col-3">
          <img
            src="{{ workoutRequest.Trainer.PicturePath }}"
            alt="{{ workoutRequest.Trainer.LastName }}"
            class="rounded-circle"
          />
          <p class="fw-bold d-inline mb-1">
            {{ workoutRequest.Trainer.FirstName }}
            {{ workoutRequest.Trainer.LastName }}
          </p>
        </td>
        <td class="col-2">
          <span class="badge">{{ workoutRequest.Date | date : "h:mm a" }}</span>
          <span class="badge">{{ workoutRequest.Date | date : "EEEE"}}</span>
          <span class="badge">{{ workoutRequest.Date | date : "MMMM d"}}</span>
        </td>
        <td class="col-2">
          <span>{{workoutRequest.Status|lowercase}}</span>
        </td>
        <td class="col-2">
          <button [disabled]="workoutRequest.Status!='New'" class="btn btn-danger">Decline</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
