<!-- <div class="card bg-light" style="align-items: center; width:60%;max-width: 90%; margin-left:30px;"> -->
    <form [formGroup]="createActivityForm" style="width: 70%; margin-left:30px;" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <h2 style="color: rgb(135, 135, 192); margin-top: 30px">
          Enter information about activity
        </h2>
        <div style="margin-top: 10px; margin-bottom: 15px">
          <label
            for="title"
            style="color: #8787c0; margin-bottom: 2px"
            class="form-label"
            >Title:</label
          >
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Enter title"
            name="title"
            formControlName="title"
          />
        </div>
        <div style="margin-top: 10px; margin-bottom: 15px">
          <label
            for="description"
            class="form-label"
            style="color: rgb(135, 135, 192); margin-bottom: 2px"
            >Description:</label
          >
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Enter description"
            name="description"
            formControlName="description"
          />
        </div>
        <div style="margin-top: 10px; margin-bottom: 15px">
            <label
              for="imageUrl"
              class="form-label"
              style="color: rgb(135, 135, 192); margin-bottom: 2px"
              >Image URL:</label
            >
            <input
              type="url"
              class="form-control"
              id="imageUrl"
              placeholder="Paste image URL"
              name="imageUrl"
              formControlName="imageUrl"
            />
          </div>
          <div style="margin-top: 10px; margin-bottom: 15px">
            <label
              for="date"
              class="form-label"
              style="color: rgb(135, 135, 192); margin-bottom: 2px"
              >Date:</label
            >
            <input
              type="datetime-local"
              class="form-control"
              id="date"
              placeholder="Select date"
              name="date"
              formControlName="date"
            />
          </div>
          <div style="margin-top: 10px; margin-bottom: 15px">
            <label
              for="trainerId"
              class="form-label"
              style="color: rgb(135, 135, 192); margin-bottom: 2px"
              >Trainer:</label
            >
            <input
              type="number"
              class="form-control"
              id="trainerId"
              placeholder="Select trainer"
              formControlName="trainerId"
            />
          </div>
        <button [disabled]="!createActivityForm.valid" style="width:150px" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
   
  <!-- </div> -->