<footer>
  <hr style="margin-top: 0px; max-width: 100%" />
  <div class="row" style="max-width: 100%">
    <div style="margin: 0px" class="col">
      <img src="../../assets/pulse-svgrepo-com.png" height="150px" />
    </div>
    <div style="margin: 10px" class="col">
      <p style="font-weight: bold">Opening Hours</p>
      <p style="margin: 3px; color: gray">Weekdays: 8:00 - 20:00</p>
      <p style="margin: 3px; color: gray">Saturday, Sunday: 10:00 - 18:00</p>
    </div>

    <div style="margin: 10px; margin-left: 3px" class="col">
      <p style="font-weight: bold">Address</p>
      <p style="margin: 3px; color: rgb(0, 0, 0)">вулиця Стрийська,</p>
      <p style="margin: 3px; color: rgb(0, 0, 0)">Львів</p>
    </div>

    <div style="margin: 10px; margin-right: 0px; margin-left: 3px" class="col">
      <p style="font-weight: bold">Contact</p>
      <p style="margin: 3px; color: rgb(0, 0, 0)">pulse@gym.com</p>
      <p style="margin: 3px; color: rgb(0, 0, 0)">(012) 345-6789</p>
    </div>
  </div>
  <hr />

  <div class="row" style="max-width: 100%">
    <div class="col"><p>©2023, All right reserved.</p></div>
    <div class="col">
      <p
        style="text-align: right; margin-right: 10px"
        class="bi bi-instagram"
      ></p>
    </div>
  </div>
</footer>
