.col {
  box-sizing: border-box;
  margin: 0px;
}
hr {
  margin-top: 0px;
  max-width: 100%;
}
.row {
  max-width: 100%;
}
img {
  height: 120px;
}
p.header {
  font-weight: bold;
}
p.text {
  margin: 3px;
  color: gray;
}
.bi.bi-instagram {
  text-align: right;
  margin-right: 10px;
}
