<footer>
  <hr />
  <div class="row">
    <div class="col">
      <img src="../../assets/pulse-svgrepo-com.png" />
    </div>

    <div class="col m-2">
      <p class="header">Opening Hours</p>
      <p class="text">Weekdays: 8:00 - 20:00</p>
      <p class="text">Saturday, Sunday: 10:00 - 18:00</p>
    </div>

    <div class="col m-2 ml-1">
      <p class="header">Address</p>
      <p class="text">вулиця Стрийська,</p>
      <p class="text">Львів</p>
    </div>

    <div class="col m-2 mr-0 ml-1">
      <p class="header">Contact</p>
      <p class="text">pulse@gym.com</p>
      <p class="text">(012) 345-6789</p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col"><p>©2023, All right reserved.</p></div>
    <div class="col">
      <p class="bi bi-instagram"></p>
    </div>
  </div>
</footer>
