.input-area {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 40rem; 
}

.submit-button {
  background-color: rgb(135, 135, 192);
  margin: auto;
  width: 18rem; 
}

#picker {
  color: rgb(135, 135, 192);
}


