<div>
  <h1 mat-dialog-title>Login</h1>
  <mat-dialog-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-div">
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            name="email"
            formControlName="email"
          />
          <span
            *ngIf="
              !loginForm.get('email').valid && loginForm.get('email').touched
            "
            class="help-block"
            >!Please enter a valid email</span
          >
        </div>
        <div class="input-div">
          <label for="pwd" class="form-label">Password:</label>
          <input
            type="password"
            class="form-control"
            id="pwd"
            placeholder="Enter password"
            name="pswd"
            formControlName="password"
          />
        </div>
        <mat-dialog-actions>
          <button
            [disabled]="!loginForm.valid"
            class="btn btn-secondary"
            type="submit"
            mat-dialog-close
          >
            Submit
          </button>
          <button type="button" mat-dialog-close class="btn btn-light">
            Close
          </button>
        </mat-dialog-actions>
      </div>

      <span *ngIf="!successfulLogin" class="help-block"
        >Email or password is wrong!</span
      >
    </form>
  </mat-dialog-content>
</div>
