<div class="trainer-card">
  <img class="ava" src="{{ trainer.imageUrl }}" />
  <div class="info">
    <h4>
      {{ trainer.firstName | uppercase }} {{ trainer.lastName | uppercase }}
    </h4>
    <div class="category">
      <mat-icon>star</mat-icon>
      <p>{{ trainerCategories[trainer.category] | lowercase }}</p>
    </div>
    <div *ngIf="currentRole === adminRole" class="actions">
      <button mat-fab>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-fab (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
